services:
  ai-box:
    image: fa-krug/ai-box:latest
    container_name: ai-box
    restart: unless-stopped
    volumes:
      - root:/root
      - work:/work
    environment:
      - SSH_PASSWORD=${SSH_PASSWORD:-root}
      - HISTFILE=/root/bash_history_mount/.bash_history
    ports:
      - "2222:22"
    stdin_open: true
    tty: true

volumes:
  root:
  work:

